div {
  width: 100%;
  height: 50px;
  border: 5px solid black;
}

#red {
  background-color: #f00;
}

#orange {
  background-color: #ffa500;
}

#yellow {
  background-color: #ff0;
}

#green {
  background-color: #00bc3f;
}

#blue {
  background-color: #06f;
}

#indigo {
  background-color: #8a2be2;
}

#violet {
  background-color: #d300c9;
}
